body {
    background-color: #caccaa;
    font-family: 'Catamaran', sans-serif;
    font-size: 16pt;
}

.content {
    width: 50%;
    background-color: #eaeaea;
    position: relative;
    left: 25%;
    padding: 3em;
}

h1 {
    color: black; 
    font-family: 'Bebas Neue', cursive;
}

.codestyle {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 10pt;
    background-color: #dddddd;
    overflow-x:auto;
    padding: 1em;
    font-family: "Source Code Pro", monospace;
}
